@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Commons */
:root {
  --pink: hsl(352, 79%, 67%);
  --light-blue: hsl(202, 56%, 86%);
  --dark-blue: hsl(196, 30%, 51%);
  --yellow: hsl(53, 100%, 94%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

#indexBody {
  background-image: linear-gradient(
    180deg,
    var(--light-blue),
    var(--light-blue),
    var(--yellow),
    var(--yellow),
    var(--yellow)
  );
}

#shopBody {
  background-color: var(--light-blue);
}

a {
  text-decoration: none;
}

.hero a,
.buy a {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

a:active {
  scale: 0.95;
}

/* Javascript */
.hidden {
  visibility: hidden;
  position: absolute;
}

.undefined {
  border: 2px solid var(--pink);
}

/* Nav */
nav {
  padding: 0.25rem 2vw;
  height: 10vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-blue);
}

nav img {
  cursor: pointer;
  height: 9vh;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 1rem;
  list-style: none;
}

nav ul li a {
  font-size: 1.5rem;
  color: var(--yellow);
  text-shadow: 1px 1px 3px #000;
}

.fa-instagram,
.fa-facebook-square {
  font-size: 1.8rem;
}

#shopping-cart {
  text-decoration: none;
  color: var(--pink);
  text-shadow: 1px 1px 3px #fff;
  padding: 0.5rem 1rem;
  background-color: var(--yellow);
  border-radius: 5px;
}

/* Hero */
.hero {
  width: 100vw;
  height: 90vh;
  background: url("../img/background.jpg") no-repeat right top;
  background-size: cover;
  display: grid;
  place-items: center;
}

.hero .card {
  height: auto;
  gap: 2.5rem;
  background-color: rgba(121, 176, 205, 0.8);
}

.hero .card h2 {
  padding-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.hero .card .sale-pink {
  color: var(--pink);
  text-shadow: 1px 1px 5px #fff;
}

.hero .card span {
  color: var(--yellow);
  font-size: 2.1rem;
  text-align: center;
  cursor: pointer;
}

.hero .card a {
  background-color: var(--yellow);
  padding: 0.5rem;
  width: 175px;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 1.8rem;
}

/* Vores is & Om os */
.main {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 8vh;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(320px, 75%, 450px), 1fr)
  );
}

.block {
  padding: 2rem 2rem 4rem 2rem;
  background-color: var(--yellow);
  display: grid;
  place-items: center;
  gap: 1rem;
}

.block img {
  width: clamp(320px, 100%, 400px);
  border-radius: 5px;
  justify-self: center;
}

.block p {
  font-size: 1.22rem;
  max-width: 450px;
}

.block a {
  justify-self: center;
  background-color: var(--pink);
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-width: 175px;
}

/* Ice order */
.buy {
  display: grid;
  max-width: 540px;
  margin: 0 auto;
  place-items: center;
  background-color: var(--light-blue);
}

.card {
  display: grid;
  place-items: center;
  gap: 1rem;
  height: 615px;
  width: clamp(320px, 75%, 400px);
  margin: 2.5vh 0;
  background: hsla(201, 46%, 64%, 0.5);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  padding: 2rem;
}

.size-card,
.basket-card,
.form-card {
  height: auto;
}

.card h2 {
  color: hsl(53, 100%, 94%);
  font-size: 1.4rem;
}

.card img {
  max-height: 100%;
  max-width: 100%;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--yellow);
  display: block;
  cursor: pointer;
  width: 200px;
  border-radius: 5px;
  color: var(--pink);
  font-weight: bold;
  font-size: 1.1rem;
}

#add {
  position: relative;
}

select {
  width: 200px;
  padding: 0.5rem;
  font-size: 1rem;
}

.choice h3 {
  padding-bottom: 0.5rem;
}

.add-taste {
  color: var(--pink);
  font-size: 1.25rem;
}

.card ul {
  list-style: none;
}

.fa-minus-circle {
  color: var(--pink);
  cursor: pointer;
  padding-right: 0.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -155px;
  margin-top: -10px;
}

.medium-basket-list,
.large-basket-list {
  width: 100%;
}

.basket-list {
  position: relative;
  background-color: var(--light-blue);
  margin-bottom: 1.2rem;
  padding: 0.75rem 0;
  font-size: 1.2rem;
  list-style: none;
  border-radius: 5px;
}

/* Form */
#form {
  display: grid;
  place-items: center;
  gap: 0.25rem;
}

#form label {
  font-size: 1.2rem;
}

#form label span {
  color: red;
}

#form input {
  margin-bottom: 0.75rem;
  border-radius: 5px;
  padding: 0.25rem;
  width: 200px;
}

#form input:active,
#form input:focus {
  outline: none;
  border: 2px solid var(--pink);
}

#form button {
  margin-top: 0.5rem;
}

/* Shop page */
.shop {
  padding-bottom: 10vh;
  max-width: 1440px;
  min-height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(320px, 75%, 450px), 1fr)
  );
  transition: all 1s ease-in-out;
}

/* Social */
/* .social iframe {
  width: clamp(320px, 100%, 500px);
  margin: auto 50%;
  transform: translateX(-50%);
  height: 640px;
} */

/* Footer */
footer {
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
}

.footer-content {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  min-height: 8vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1rem;
  color: grey;
}

.adress {
  display: grid;
  gap: 0.5rem;
  padding-left: 5vw;
}

footer a {
  font-size: 2.5rem;
  color: var(--yellow);
  place-self: center;
}
